.sc-title{display:flex;justify-content:center;padding-bottom:.5rem;margin:20px 0;border-bottom:1px solid rgba(0,0,0,0);color:#333}.sc-title.line{border-bottom:1px solid #eee;color:var(--clr-main)}.sc-title.line>span{border-bottom:4px solid rgba(0,0,0,0)}.sc-title>span{display:inline-block;border-bottom:4px solid var(--clr-main);font-size:24px;font-weight:normal;padding-bottom:10px}@media screen and (max-width: 900px){.sc-title>span{font-size:20px}}
.sc-list01{display:flex;flex-direction:column;background:#fff}.sc-list01 .m-bd{display:flex;flex-direction:column}.sc-list01 .m-bd .m-item{display:flex;flex-direction:column;padding:30px 0;font-size:1.4rem}.sc-list01 .m-bd .m-item+.m-item{border-top:1px solid #eee}.sc-list01 .m-bd .m-item>.m-tl{color:#000;font-size:1.2rem}.sc-list01 .m-bd .m-item>.m-tl+span{margin-top:15px}.sc-list01 .m-bd .m-item>span{color:#333;font-weight:bold;letter-spacing:1.6px}.sc-list01 .m-bd .m-item>span+span{margin-top:3px}.sc-list01 .m-bd .m-item>span+li{margin-top:15px}.sc-list01 .m-bd .m-item>li{color:#333;letter-spacing:1.6px}.sc-list01 .m-bd .m-item>li.np{list-style:none}.sc-list01 .m-bd .m-item>li+li{margin-top:3px}@media screen and (max-width: 900px){.sc-list01{display:flex;flex-direction:column;background:#fff}.sc-list01 .m-bd{display:flex;flex-direction:column}.sc-list01 .m-bd .m-item{display:flex;flex-direction:column;padding:30px 0;font-size:1.4rem}.sc-list01 .m-bd .m-item+.m-item{border-top:1px solid #eee}.sc-list01 .m-bd .m-item>.m-tl{color:#000;font-size:1.2rem}.sc-list01 .m-bd .m-item>.m-tl+span{margin-top:15px}.sc-list01 .m-bd .m-item>span{color:#333;font-weight:bold;font-size:1rem;letter-spacing:1.6px}.sc-list01 .m-bd .m-item>span+span{margin-top:3px}.sc-list01 .m-bd .m-item>span+li{margin-top:15px}.sc-list01 .m-bd .m-item>li{color:#333;letter-spacing:1.6px;font-size:.8rem}.sc-list01 .m-bd .m-item>li.np{list-style:none}.sc-list01 .m-bd .m-item>li+li{margin-top:3px}}
.sc-list02{display:flex;flex-direction:column;background:#fff}.sc-list02 .m-bd{display:flex;flex-wrap:wrap}.sc-list02 .m-bd .m-item{display:flex;padding:30px 0;font-size:1.6rem;width:calc(50% - 20px);font-weight:bold;box-sizing:border-box;position:relative;color:#333}.sc-list02 .m-bd .m-item.dash{border-bottom:1px dashed #ddd}.sc-list02 .m-bd .m-item.icon{padding-left:25px}.sc-list02 .m-bd .m-item.icon:after{display:block;content:"";position:absolute;top:50%;left:0;width:9px;height:4px;border-left:3px solid #54c1c8;border-bottom:3px solid #54c1c8;-webkit-transform:translateY(-50%) rotate(-45deg);transform:translateY(-50%) rotate(-45deg)}.sc-list02 .m-bd .m-item:nth-child(2n+1){margin-left:0 !important}.sc-list02 .m-bd .m-item+.m-item{margin-left:40px}@media screen and (max-width: 900px){.sc-list02{padding:0 10px}.sc-list02>.m-bd>.m-item{padding:10px 0;font-size:1rem;width:calc(50% - 10px)}.sc-list02>.m-bd>.m-item+.m-item{margin-left:20px}}
.sc-list03{display:flex;flex-direction:column;width:100%;max-width:var(--sys-wid);background:#fff}.sc-list03 .m-bd{display:flex;flex-wrap:wrap}.sc-list03 .m-bd .m-item{display:flex;flex-direction:column;padding:20px 0 20px;box-sizing:border-box}.sc-list03 .m-bd .m-item>label{color:var(--clr-main);line-height:42px;padding-left:calc(.75rem + 42px);position:relative;margin-bottom:.5rem;font-weight:bold;font-size:1.8rem}.sc-list03 .m-bd .m-item>label.icon:before{content:"Q";font-size:22px;width:42px;height:42px;line-height:42px;text-align:center;color:#fff;background-color:#54c1c8;border-radius:50%;position:absolute;top:0;left:0}.sc-list03 .m-bd .m-item>span{font-size:1.6rem;padding-left:calc(.75rem + 42px);color:#333}.sc-list03 .m-bd .m-item.icon{padding-left:25px}@media screen and (max-width: 900px){.sc-list03 .m-bd .m-item{padding:10px 0}.sc-list03 .m-bd .m-item>label{line-height:24px;padding-left:calc(.75rem + 24px);font-size:1.2rem}.sc-list03 .m-bd .m-item>label.icon:before{font-size:14px;width:24px;height:24px;line-height:24px}.sc-list03 .m-bd .m-item>span{font-size:1rem;padding-left:0}.sc-list03 .m-bd .m-item.icon{padding-left:10px}}
.sc-list04{display:flex;flex-direction:column;width:100%;max-width:var(--sys-wid);background:#fff}.sc-list04 .m-bd{display:flex;flex-direction:column}.sc-list04 .m-bd .m-item{display:flex;padding:20px 0 0;box-sizing:border-box;font-size:1.8rem;color:#333;font-weight:bold}.sc-list04 .m-bd .m-item>label{align-self:flex-start;width:20%;text-align:right;padding-bottom:5px;border-bottom:2px solid rgba(0,0,0,0)}.sc-list04 .m-bd .m-item>label.icon{border-bottom:2px solid var(--clr-main)}.sc-list04 .m-bd .m-item>p{margin:0 0 0 30px;flex:1 1;display:flex;flex-direction:column}.sc-list04 .m-bd .m-item.icon{padding-left:25px}@media screen and (max-width: 900px){.sc-list04 .m-bd .m-item{font-size:.9rem}.sc-list04 .m-bd .m-item>label{width:25%}.sc-list04 .m-bd .m-item>p{margin:0 0 0 20px}}
.sc-list05{display:flex;flex-direction:column;width:100%;max-width:var(--sys-wid);background:#fff}.sc-list05 .m-bd{display:flex;flex-wrap:wrap;margin-top:40px}.sc-list05 .m-bd .m-item{display:flex;flex-direction:column;width:calc((100% - 40px)/3);padding:20px 0 0;box-sizing:border-box;font-size:1.4rem;color:#333;border:1px solid #ddd;padding:1.5rem;box-sizing:border-box;margin-bottom:20px;position:relative;box-sizing:border-box;text-align:justify}.sc-list05 .m-bd .m-item.ossm{border-bottom:3px solid var(--clr-main)}.sc-list05 .m-bd .m-item+.m-item{margin-left:20px}.sc-list05 .m-bd .m-item:nth-child(3n+1){margin-left:0}.sc-list05 .m-bd .m-item .m-icon{position:absolute;text-align:center;right:-1rem;top:-1rem;width:50px;height:50px}.sc-list05 .m-bd .m-item>label{font-size:1.8rem;padding-bottom:10px;border-bottom:1px solid #ddd;color:#333}.sc-list05 .m-bd .m-item>span{font-weight:bold;margin-top:10px}.sc-list05 .m-bd .m-item>p{flex:1 1;display:flex;justify-content:flex-end;align-items:self-end;margin:0}.sc-list05 .m-bd .m-item>p>a{padding:0 5px;border:1px solid var(--clr-main);color:var(--clr-main);font-size:12px;transition:all .2s ease;height:20px;display:flex;justify-content:center;align-items:center;font-weight:bold;cursor:pointer}.sc-list05 .m-bd .m-item>p>a:hover{background:var(--clr-main);color:#fff}.sc-list05 .m-bd .m-item.icon{padding-left:25px}@media screen and (max-width: 900px){.sc-list05 .m-bd .m-item{width:calc((100% - 10px)/2);font-size:1rem}.sc-list05 .m-bd .m-item+.m-item{margin-left:10px}.sc-list05 .m-bd .m-item:nth-child(2n+1){margin-left:0}.sc-list05 .m-bd .m-item .m-icon{right:-1rem;top:-1rem;width:40px;height:40px}.sc-list05 .m-bd .m-item>label{font-size:1.4rem;padding-bottom:10px}.sc-list05 .m-bd .m-item>p>a{margin-top:10px;padding:0 10px}}
.sc-list06{display:flex;flex-direction:column;width:100%;max-width:var(--sys-wid);background:#fff}.sc-list06 .m-bd{display:flex;flex-wrap:wrap}.sc-list06 .m-bd .m-item{display:flex;flex-direction:column;width:calc(50% - 30px);box-sizing:border-box;padding:10px 20px;font-size:14px;font-weight:bold}.sc-list06 .m-bd .m-item+.sc-list06{margin-left:60px}.sc-list06 .m-bd .m-item:nth-child(2n+1){margin-left:0 !important}.sc-list06 .m-bd .m-item>.m-tl{color:var(--clr-main);font-size:2.4rem;padding:0px;display:flex;align-items:center;justify-content:center;text-align:center;margin:10px 0px;line-height:1.4}.sc-list06 .m-bd .m-item>.m-ossm{background:var(--clr-sub);color:var(--clr-main);font-size:16px;text-align:center;padding:5px;letter-spacing:2px}.sc-list06 .m-bd .m-item>.m-rec{display:flex;flex-direction:column;background:var(--clr-main);color:#fff;padding:10px 15px}.sc-list06 .m-bd .m-item>.m-rec>li{margin:5px}.sc-list06 .m-bd .m-item>.m-desc{padding:10px 0;line-height:2;color:#000}.sc-list06 .m-bd .m-item>.m-ft{padding:15px 10px;border-top:1px solid #000;border-bottom:1px solid #000}.sc-list06 .m-bd .m-item>.m-ft>.m-list{display:flex;flex-direction:column;font-size:1.4rem;font-weight:bold}.sc-list06 .m-bd .m-item>.m-ft>.m-list+.m-list{margin-top:20px}.sc-list06 .m-bd .m-item>.m-ft>.m-list>.m-row{display:flex;align-items:center}.sc-list06 .m-bd .m-item>.m-ft>.m-list>.m-row:nth-child(1):after{order:2;margin:0 1rem;content:"";display:block;height:3px;flex-grow:1;background-image:linear-gradient(to right, #000, #000 3px, transparent 3px, transparent 6px);background-size:6px 1px;background-repeat:repeat-x}.sc-list06 .m-bd .m-item>.m-ft>.m-list>.m-row>span{font-size:1.2rem;color:#999;margin-top:5px}.sc-list06 .m-bd .m-item>.m-ft>.m-list>.m-row>label{color:#000;order:1}.sc-list06 .m-bd .m-item>.m-ft>.m-list>.m-row>em{order:3;font-style:normal;color:#d00;font-size:1.6rem}.sc-list06 .m-bd .m-item>.m-ft>.m-list>.m-row>em:after{content:"円(税込)";font-size:1.2rem}.sc-list06 .m-bd .m-item>.m-ft>.m-fn{display:flex;justify-content:flex-end;margin-top:10px}.sc-list06 .m-bd .m-item>.m-ft>.m-fn a{font-size:1.2rem;padding:2px 5px;color:var(--clr-main);border:1px solid var(--clr-main);transition:all .2s ease}.sc-list06 .m-bd .m-item>.m-ft>.m-fn a:hover{background:var(--clr-main);color:#fff}@media screen and (max-width: 900px){.sc-list-price .m-item{width:100%}.sc-list-price .m-item+.m-item{margin:0 !important}}
.sc-list07{display:flex;flex-direction:column;width:100%;max-width:var(--sys-wid);margin:auto;background:#fff}.sc-list07 .line{border-bottom:1px none #eee}.sc-list07 .m-bd{display:flex;flex-direction:column;border-top:2px solid #eee;border-bottom:2px solid #eee}.sc-list07 .m-bd .m-item{display:flex;flex-direction:row;padding:30px 0;font-weight:bold;font-size:1.6rem}.sc-list07 .m-bd .m-item *{margin:6px 0}.sc-list07 .m-bd .m-item>.m-lt{display:flex;flex-direction:column;align-items:center;width:35%;padding:0 1.6rem}.sc-list07 .m-bd .m-item>.m-lt>.title{color:var(--clr-main);text-align:center;font-size:2.5rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:80%}.sc-list07 .m-bd .m-item>.m-lt>.label{margin:0;margin:initial;color:gray;font-size:1.4rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:50%}.sc-list07 .m-bd .m-item>.m-rt{width:50%}.sc-list07 .m-bd .m-item>.m-rt>.m-cnt{margin-top:-0.2rem;line-height:4rem}.sc-list07 .m-bd .m-item>.m-rt>.m-p{text-indent:3rem}.sc-list07 .m-bd .m-bdy+.m-bdy{border-top:1px solid #eee}@media screen and (max-width: 900px){.sc-list07 .m-item{flex-direction:column !important;align-items:center}.sc-list07 .m-item>.m-lt{width:80% !important;padding:0 1.6rem}.sc-list07 .m-item>.m-rt{width:100% !important;padding:0 1.6rem}.sc-list07 .m-cnt{margin-top:0 !important;margin-top:initial !important}}
.sc-list08{display:flex;flex-direction:column;width:100%;max-width:var(--sys-wid);margin:auto;background:#fff}.sc-list08 .line{border-bottom:1px none #fff}.sc-list08 .m-bd{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between}.sc-list08 .m-bd .m-item{display:flex;flex-direction:column;width:45%;padding:30px 0;font-size:1.6rem}.sc-list08 .m-bd .m-item *{margin:6px 0}.sc-list08 .m-bd .m-item>.m-top{display:flex;flex-direction:column;max-width:90%}.sc-list08 .m-bd .m-item>.m-top>.title{width:90%;color:var(--clr-main);font-size:2.5rem;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.sc-list08 .m-bd .m-item>.m-bdy>.m-lb{display:inline-block;padding:3px 10px;margin-top:10px;color:#fff;font-size:1.5rem;background-color:var(--clr-main);border-radius:4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.sc-list08 .m-bd .m-item>.m-bdy>.m-cnt{line-height:4rem;font-weight:bold}.sc-list08 .m-bd .m-item .m-line{border-top:2px solid var(--clr-sub)}@media screen and (max-width: 900px){.sc-list08 .m-bd{flex-direction:column !important}.sc-list08 .m-bd .m-item{width:100% !important}}
.sc-list09{display:flex;flex-direction:column;width:100%;max-width:var(--sys-wid);margin:auto;background:#fff}.sc-list09 .sc-title{justify-content:left;margin:1rem}.sc-list09 .line{border-bottom:1px none #eee}.sc-list09 .m-bd{display:flex;flex-direction:column}.sc-list09 .m-bd .m-item{width:100%;padding:1rem 0;font-weight:bold;font-size:1.6rem}.sc-list09 .m-bd .m-item *{margin:6px 0}.sc-list09 .m-bd .m-item>.m-bdy{display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center;justify-content:space-between}.sc-list09 .m-bd .m-item>.m-bdy>.m-lt{display:flex;flex-direction:row;flex-wrap:nowrap;width:50%;align-items:center}.sc-list09 .m-bd .m-item>.m-bdy>.m-lt>.m-lb{display:block;width:120px;min-width:120px;padding:6px 10px;color:#fff;border-radius:6px;font-size:1.6rem;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background-color:var(--clr-main)}.sc-list09 .m-bd .m-item>.m-bdy>.m-lt>.title{width:-webkit-max-content;width:max-content;max-width:60%;margin:6px 2rem;color:var(--clr-main);font-size:2.5rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.sc-list09 .m-bd .m-item>.m-bdy>.m-cnt{max-width:50%;line-height:3.2rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.sc-list09 .m-bd .m-item .m-line{border-bottom:2px solid var(--clr-sub)}@media screen and (max-width: 900px){.sc-list09 .m-bdy{flex-direction:column !important;align-items:center !important;font-size:1.4rem !important}.sc-list09 .m-bdy>.m-lt{width:100% !important;padding:0 1.6rem;justify-content:space-around}.sc-list09 .m-bdy>.m-lt>.m-lb{width:40% !important;font-size:1.6rem !important}.sc-list09 .m-bdy>.m-lt>.title{width:60% !important;font-size:2rem !important}.sc-list09 .m-bdy>.m-cnt{max-width:90% !important;margin-top:1rem !important}.sc-list09 .m-cnt{margin-top:0 !important;margin-top:initial !important}}
.sc-list10{width:100%;display:flex;flex-direction:column;background:#fff;max-width:var(--sys-wid);margin:0 auto}.sc-list10>.sc-title{justify-content:flex-start !important}.sc-list10 .m-bd{display:flex}.sc-list10 .m-bd .m-item{display:flex;width:calc((100% - 10px)/3)}.sc-list10 .m-bd .m-item+.m-item{margin-left:10px}.sc-list10 .m-bd .m-item .m-icon{width:200px;margin:12px 12px 0 0}.sc-list10 .m-bd .m-item .m-icon>img{width:100%;object-fit:cover !important;vertical-align:top}.sc-list10 .m-bd .m-item .m-cnt{display:flex;flex-direction:column}.sc-list10 .m-bd .m-item .m-cnt .m-title{font-size:26px;font-weight:500}.sc-list10 .m-bd .m-item .m-cnt .m-title+div{height:60px;overflow:hidden;margin:10px 0 15px 0;color:#9f9f9f;font-size:12px}.sc-list10 .m-bd .m-item .m-cnt .m-label{font-weight:400;color:#333;padding-bottom:2px;border-bottom:2px solid var(--clr-main)}@media screen and (max-width: 900px){.sc-list10 .m-bd{flex-direction:column}.sc-list10 .m-bd>.m-item{width:100%}.sc-list10 .m-bd>.m-item+.m-item{margin-top:15px}}
.mobile-big-news-item{background-color:#fff;padding:16px}.mobile-big-news-item .shell-head{display:flex;justify-content:space-between;align-items:center;margin-bottom:12px}.mobile-big-news-item .shell-head .item-title{color:#000;font-size:16px;font-size:var(--title-default-size, 16px);font-weight:bold;flex:1 1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-right:15px}.mobile-big-news-item .shell-head .more{padding-top:1px;color:#999;font-size:12px;font-size:var(--desc-default-size, 12px)}.mobile-big-news-item .big-news>img{width:100%;height:164px;border-radius:4px;object-fit:cover;background-color:#f5faff}.mobile-big-news-item .big-news .content-title{margin-top:12px;-webkit-line-clamp:2;display:-webkit-box;/*! autoprefixer: off */-webkit-box-orient:vertical;/*! autoprefixer: on */overflow:hidden;text-overflow:ellipsis;font-size:15px;font-size:var(--content-default-size, 15px);color:#000}.mobile-big-news-item p{margin:0;padding:0}.mobile-big-news-item .show-hidden{display:none !important}
:root {
  --adm-radius-s: 4px;
  --adm-radius-m: 8px;
  --adm-radius-l: 12px;
  --adm-font-size-1: 9px;
  --adm-font-size-2: 10px;
  --adm-font-size-3: 11px;
  --adm-font-size-4: 12px;
  --adm-font-size-5: 13px;
  --adm-font-size-6: 14px;
  --adm-font-size-7: 15px;
  --adm-font-size-8: 16px;
  --adm-font-size-9: 17px;
  --adm-font-size-10: 18px;
  --adm-color-primary: #1677ff;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;
  --adm-color-white: #ffffff;
  --adm-color-text: #333333;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #eeeeee;
  --adm-color-box: #f5f5f5;
  --adm-color-background: #ffffff;
  --adm-font-size-main: var(--adm-font-size-5);
  --adm-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --adm-border-color: var(--adm-color-border);
}
html[data-prefers-color-scheme='dark'] {
  --adm-color-primary: #3086ff;
  --adm-color-success: #34b368;
  --adm-color-warning: #ffa930;
  --adm-color-danger: #ff4a58;
  --adm-color-text: #e6e6e6;
  --adm-color-text-secondary: #b3b3b3;
  --adm-color-weak: #808080;
  --adm-color-light: #4d4d4d;
  --adm-color-border: #2b2b2b;
  --adm-color-box: #0a0a0a;
  --adm-color-background: #1a1a1a;
  --adm-border-color: var(--adm-color-border);
}
:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: #333333;
  color: var(--adm-color-text);
  font-size: 13px;
  font-size: var(--adm-font-size-main);
  font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  font-family: var(--adm-font-family);
}
a,
button {
  cursor: pointer;
}
a {
  color: #1677ff;
  color: var(--adm-color-primary);
  transition: opacity ease-in-out 0.2s;
}
a:active {
  opacity: 0.8;
}
.adm-plain-anchor {
  color: inherit;
  transition: none;
}
.adm-plain-anchor:active {
  opacity: 1;
  opacity: initial;
}
body.adm-overflow-hidden {
  overflow: hidden !important;
}
div.adm-px-tester {
  --size: 1;
  height: calc(var(--size) / 2 * 2px);
  width: 0;
  position: fixed;
  right: -100vw;
  bottom: -100vh;
  -webkit-user-select: none;
          user-select: none;
  pointer-events: none;
}

.adm-badge-wrapper {
  display: inline-block;
  position: relative;
}
.adm-badge {
  display: inline-flex;
  vertical-align: middle;
  box-sizing: content-box;
  border-radius: 100px;
  background-color: var(--color);
  --right: 0;
  --top: 0;
  --color: var(--adm-badge-color, #ff411c);
}
.adm-badge-content {
  color: var(--adm-color-white);
  box-sizing: border-box;
  min-width: 8px;
  padding: 1px 4px;
  font-size: var(--adm-font-size-1);
  line-height: 12px;
  white-space: nowrap;
  font-weight: normal;
  text-align: center;
}
.adm-badge-fixed {
  position: absolute;
  right: var(--right);
  top: var(--top);
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.adm-badge-dot {
  min-width: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.adm-badge-bordered {
  border: solid 1px var(--adm-color-white);
}

.adm-ellipsis {
  overflow: hidden;
  line-height: 1.5;
}

.adm-image {
  --width: var(--adm-image-width, auto);
  --height: var(--adm-image-height, auto);
  width: var(--width);
  height: var(--height);
  display: block;
  overflow: hidden;
}
.adm-image-img {
  width: 100%;
  height: 100%;
}
.adm-image-tip {
  position: relative;
  background-color: var(--adm-color-box);
  height: 100%;
  min-height: 24px;
  min-width: 24px;
}
.adm-image-tip > svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--adm-color-weak);
}

.adm-image-uploader {
  --cell-size: 80px;
}
.adm-image-uploader-space {
  --gap: 12px;
}
.adm-image-uploader-cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 4px;
  overflow: hidden;
}
.adm-image-uploader-cell-fail {
  border: red solid 1px;
  box-sizing: border-box;
}
.adm-image-uploader-cell-delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 0 12px;
  font-size: 8px;
  color: var(--adm-color-white);
  cursor: pointer;
}
.adm-image-uploader-cell-delete-icon {
  position: absolute;
  left: 4px;
  top: 3px;
}
.adm-image-uploader-cell-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--adm-color-white);
  background-color: rgba(50, 50, 51, 0.88);
}
.adm-image-uploader-cell-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  padding-top: 8px;
}
.adm-image-uploader-cell-mask-message {
  display: inline-block;
  padding: 6px 4px;
  font-size: var(--adm-font-size-4);
}
.adm-image-uploader-cell-image {
  width: var(--cell-size);
  height: var(--cell-size);
}
.adm-image-uploader-upload-button-wrap {
  position: relative;
}
.adm-image-uploader-upload-button-wrap .adm-image-uploader-upload-button {
  background-color: var(--adm-color-box);
  text-align: center;
  line-height: var(--cell-size);
  display: block;
}
.adm-image-uploader-upload-button-wrap .adm-image-uploader-upload-button-icon {
  color: #999999;
  font-size: 32px;
}
.adm-image-uploader-upload-button-wrap .adm-image-uploader-input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.adm-image-viewer-content {
  width: 100vw;
  height: 100vh;
  touch-action: none;
  -webkit-user-select: none;
          user-select: none;
}
.adm-image-viewer-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
.adm-image-viewer-slides {
  height: 100%;
  position: relative;
  z-index: 1;
  cursor: -webkit-grab;
  cursor: grab;
  touch-action: none;
}
.adm-image-viewer-slides-inner {
  height: 100%;
  white-space: nowrap;
}
.adm-image-viewer-slides-inner > * {
  margin-right: 16px;
}
.adm-image-viewer-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.adm-image-viewer-control {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
  touch-action: none;
}
.adm-image-viewer-image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adm-image-viewer-image-wrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.adm-image-viewer-indicator {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 12px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #e6e6e6;
  font-size: var(--adm-font-size-6);
}

.adm-mask {
  --z-index: var(--adm-mask-z-index, 1000);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  display: block;
  width: 100%;
  height: 100%;
}
.adm-mask-aria-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.adm-mask-content {
  z-index: 1;
}

.adm-safe-area {
  --multiple: var(--adm-safe-area-multiple, 1);
  display: block;
  width: 100%;
}
.adm-safe-area-position-top {
  padding-top: calc(env(safe-area-inset-top) * var(--multiple));
}
.adm-safe-area-position-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom) * var(--multiple));
}

.adm-spin-loading {
  --color: var(--adm-color-weak);
  --size: 32px;
  width: var(--size);
  height: var(--size);
}
.adm-spin-loading-svg {
  width: 100%;
  height: 100%;
  -webkit-animation: adm-spin-loading-rotate 0.8s infinite linear;
          animation: adm-spin-loading-rotate 0.8s infinite linear;
}
.adm-spin-loading-svg > .adm-spin-loading-fill {
  stroke: var(--color);
}
@-webkit-keyframes adm-spin-loading-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes adm-spin-loading-rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.adm-space-item {
  flex: none;
}
.adm-space {
  display: inline-flex;
  --gap: 8px;
  --gap-vertical: var(--gap);
  --gap-horizontal: var(--gap);
}
.adm-space-vertical {
  flex-direction: column;
}
.adm-space-vertical > .adm-space-item {
  margin-bottom: var(--gap-vertical);
}
.adm-space-vertical > .adm-space-item:last-child {
  margin-bottom: 0;
}
.adm-space-horizontal {
  flex-direction: row;
}
.adm-space-horizontal > .adm-space-item {
  margin-right: var(--gap-horizontal);
}
.adm-space-horizontal > .adm-space-item:last-child {
  margin-right: 0;
}
.adm-space-horizontal.adm-space-wrap {
  flex-wrap: wrap;
  margin-bottom: calc(var(--gap-vertical) * -1);
}
.adm-space-horizontal.adm-space-wrap > .adm-space-item {
  padding-bottom: var(--gap-vertical);
}
.adm-space.adm-space-block {
  display: flex;
}
.adm-space-align-center {
  align-items: center;
}
.adm-space-align-start {
  align-items: flex-start;
}
.adm-space-align-end {
  align-items: flex-end;
}
.adm-space-align-baseline {
  align-items: baseline;
}
.adm-space-justify-center {
  justify-content: center;
}
.adm-space-justify-start {
  justify-content: flex-start;
}
.adm-space-justify-end {
  justify-content: flex-end;
}
.adm-space-justify-between {
  justify-content: space-between;
}
.adm-space-justify-around {
  justify-content: space-around;
}
.adm-space-justify-evenly {
  justify-content: space-evenly;
}
.adm-space-justify-stretch {
  justify-content: stretch;
}

.adm-popover {
  --z-index: var(--adm-popover-z-index, 1030);
  --background: #ffffff;
  --arrow-size: 8px;
  --content-padding: 8px 12px;
  color: #333333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  white-space: normal;
  text-align: left;
  cursor: auto;
  -webkit-user-select: text;
          user-select: text;
  -webkit-animation: none;
          animation: none;
}
.adm-popover.adm-popover-dark {
  --background: rgba(0, 0, 0, 0.75);
  --adm-color-text: #ffffff;
  color: #ffffff;
}
.adm-popover.adm-popover-dark .adm-popover-inner {
  box-shadow: none;
}
.adm-popover::after {
  position: absolute;
  background: rgba(255, 255, 255, 0.01);
  content: '';
}
.adm-popover-hidden {
  display: none;
}
.adm-popover-inner {
  background-color: var(--background);
  background-clip: padding-box;
  border-radius: 8px;
  box-shadow: 0 0 30px 0 rgba(51, 51, 51, 0.2);
  font-size: var(--adm-font-size-7);
  width: -webkit-max-content;
  width: max-content;
  min-width: 32px;
  max-width: calc(100vw - 24px);
  overflow-y: hidden;
}
.adm-popover-inner-content {
  padding: var(--content-padding);
}
.adm-popover-arrow {
  position: absolute;
  display: block;
  height: var(--arrow-size);
  width: var(--arrow-size);
  overflow: visible;
  background: transparent;
}
.adm-popover-arrow-icon {
  display: block;
  height: var(--arrow-size);
  width: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(var(--arrow-icon-rotate));
          transform: translate(-50%, -50%) rotate(var(--arrow-icon-rotate));
}
.adm-popover .adm-popover-arrow {
  color: var(--background);
}

.adm-popover-menu {
  --border-color: #eeeeee;
}
.adm-popover-menu.adm-popover {
  --content-padding: 0;
}
.adm-popover-menu-list {
  overflow: hidden;
  min-width: 120px;
}
.adm-popover-menu-list-inner {
  margin-top: -1px;
}
.adm-popover-menu-item {
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.adm-popover-menu-item-icon {
  flex: none;
  padding-right: 8px;
  font-size: 20px;
}
.adm-popover-menu-item-text {
  flex: auto;
  padding: 14px 20px 14px 0;
  border-top: solid 1px var(--border-color);
}
.adm-popover-menu-item-disabled {
  cursor: not-allowed;
}
.adm-popover-menu-item-disabled > * {
  opacity: 0.4;
}
.adm-popover-menu-item:active:not(.adm-popover-menu-item-disabled) {
  background-color: var(--border-color);
}
.adm-popover-menu-item:active:not(.adm-popover-menu-item-disabled)::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
  border-bottom: solid 1px var(--border-color);
}
.adm-popover.adm-popover-dark.adm-popover-menu {
  --border-color: #333333;
  --background: rgba(0, 0, 0, 0.9);
}

.adm-radio {
  --icon-size: 22px;
  --font-size: var(--adm-font-size-9);
  --gap: 8px;
  display: inline-flex;
  vertical-align: text-bottom;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.adm-radio input {
  display: none;
}
.adm-radio .adm-radio-icon {
  flex: none;
  border: 1px solid var(--adm-color-light);
  border-radius: var(--icon-size);
  box-sizing: border-box;
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--adm-color-white);
}
.adm-radio .adm-radio-icon > svg {
  display: block;
  width: 100%;
  height: 100%;
}
.adm-radio.adm-radio-block {
  display: flex;
}
.adm-radio.adm-radio-checked .adm-radio-icon {
  border-color: var(--adm-color-primary);
  background-color: var(--adm-color-primary);
}
.adm-radio.adm-radio-disabled {
  cursor: not-allowed;
}
.adm-radio.adm-radio-disabled .adm-radio-content {
  opacity: 0.4;
}
.adm-radio.adm-radio-disabled .adm-radio-icon {
  color: #b7b7b7;
  border-color: var(--adm-color-light);
  background-color: var(--adm-color-box);
}
.adm-radio .adm-radio-custom-icon {
  font-size: var(--icon-size);
}
.adm-radio-content {
  flex: 0 1 auto;
  font-size: var(--font-size);
  padding-left: var(--gap);
}

.adm-tag {
  --border-radius: var(--adm-tag-border-radius, 2px);
  padding: 2px 4px;
  font-size: var(--adm-font-size-3);
  line-height: 1;
  font-weight: normal;
  background: var(--background-color);
  color: var(--text-color);
  display: inline-block;
  white-space: nowrap;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}
.adm-tag-round {
  border-radius: 100px;
}

.adm-text-area {
  --font-size: var(--adm-font-size-9);
  --color: var(--adm-color-text);
  --placeholder-color: var(--adm-color-light);
  --disabled-color: var(--adm-color-weak);
  --text-align: left;
  --count-text-align: right;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.adm-text-area-element {
  font-family: var(--adm-font-family);
  resize: none;
  flex: auto;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  color: var(--color);
  font-size: var(--font-size);
  line-height: 1.5;
  background: transparent;
  border: 0;
  outline: none;
  -webkit-appearance: none;
          appearance: none;
  min-height: 1.5em;
  text-align: var(--text-align);
}
.adm-text-area-element::-webkit-input-placeholder {
  color: var(--placeholder-color);
  font-family: inherit;
}
.adm-text-area-element::placeholder {
  color: var(--placeholder-color);
  font-family: inherit;
}
.adm-text-area-element:-webkit-autofill {
  background-color: transparent;
}
.adm-text-area-element:disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: var(--disabled-color);
}
.adm-text-area-element:read-only {
  cursor: default;
}
.adm-text-area-element:invalid {
  box-shadow: none;
}
.adm-text-area-element::-ms-clear {
  display: none;
}
.adm-text-area-element[readonly] {
  pointer-events: none;
}
.adm-text-area-count {
  text-align: var(--count-text-align);
  color: var(--adm-color-weak);
  font-size: var(--adm-font-size-9);
  padding-top: 8px;
}

.adm-toast-mask .adm-toast-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.adm-toast-mask .adm-toast-main {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  max-width: 204px;
  max-height: 70%;
  overflow: auto;
  color: white;
  word-break: break-all;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  pointer-events: all;
  font-size: var(--adm-font-size-7);
  line-height: 1.5;
  box-sizing: border-box;
}
.adm-toast-mask .adm-toast-main-text {
  padding: 12px;
  min-width: 0px;
}
.adm-toast-mask .adm-toast-main-icon {
  padding: 35px 12px;
  min-width: 150px;
}
.adm-toast-mask .adm-toast-main-icon .adm-toast-icon {
  text-align: center;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1;
}
.adm-toast-loading {
  --size: 48px;
  margin: 0 auto 8px;
}

.adm-auto-center {
  display: flex;
  justify-content: center;
}
.adm-auto-center-content {
  flex: 0 1 auto;
}

.mobile-card-item{width:100%;height:100%;display:flex;flex-direction:column;justify-content:space-between;background-color:#fff;border-radius:4px}.mobile-card-item .card-botom{margin-bottom:8px}.mobile-card-item .card-content{border-radius:4px}.mobile-card-item .top-img{width:100%;height:96px;position:relative}.mobile-card-item .top-img>img{border-radius:4px;width:100%;height:96px;object-fit:cover;background:#f5faff}.mobile-card-item .top-img .image{border-radius:4px;width:100%;height:96px}.mobile-card-item .top-img .tag{font-size:12px;font-size:var(--list-time-size, 12px);position:absolute;top:0;right:0;z-index:999;border-radius:9px 4px 0 9px;font-weight:bold;background-color:#ff9e5d;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#fff;display:flex;justify-content:center;align-items:center}.mobile-card-item .top-img .tag .adm-tag{padding:2px 8px 2px 8px;font-size:12px;font-size:var(--list-time-size, 12px);font-weight:bold;max-width:85px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-card-item .title{padding:0 10px;margin-top:8px;color:#000;font-size:15px;font-size:var(--content-default-size, 15px);-webkit-line-clamp:2;display:-webkit-box;/*! autoprefixer: off */-webkit-box-orient:vertical;/*! autoprefixer: on */overflow:hidden;text-overflow:ellipsis;word-break:break-all}.mobile-card-item .bottom-state{margin-top:5px;padding:0 10px;display:flex;align-items:center;justify-content:space-between;font-size:12px;font-size:var(--list-time-size, 12px);color:#999}.mobile-card-item p{margin:0;padding:0}.mobile-card-item .show-hidden{display:none !important}.mobile-card-item .amount:last-child{text-align:end}.mobile-card-item .card-both{max-width:50%}.mobile-card-item .amount{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:flex;align-items:center}.mobile-card-item .amount img{width:12px;height:12px;margin-right:4px}
.ssm-circles-issue .adm-image-uploader-cell-delete{display:none}.ssm-circles-issue .adm-image-uploader-upload-button{display:none}.ssm-circles-issue .adm-space-wrap{display:flex;flex-wrap:wrap;justify-content:space-between;margin-left:-10px}.ssm-circles-issue .adm-space-item{width:calc((100% - 30px)/3);height:calc((100vw - 60px)/3);margin-left:10px;margin-bottom:10px;margin-right:0;padding-bottom:0 !important}.ssm-circles-issue .adm-space-wrap::after{content:"";flex:auto}.ssm-circles-issue .adm-image-uploader-cell-image,.ssm-circles-issue .adm-image-uploader-cell{width:100%;height:100%}.adm-mask .adm-mask-content .adm-image-viewer-content{background-color:#000}
:root{--clr-main: #518cfc;--clr-sub: #eaf7ff;--clr-grdf: #518cfc;--clr-grdt: #4db0d4;--clr-sel: #ff6600;--fil-grey: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(91%) contrast(84%);--fil-main: brightness(0) saturate(100%) invert(44%) sepia(88%) saturate(1597%) hue-rotate(202deg) brightness(102%) contrast(98%)}:root.green{--clr-main: #58b9b6;--clr-sub: #ecf7f7;--clr-grdf: #8bd1a1;--clr-grdt: #71b7b5;--clr-sel: #ff6600;--fil-grey: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(91%) contrast(84%);--fil-main: brightness(0) saturate(100%) invert(68%) sepia(47%) saturate(397%) hue-rotate(129deg) brightness(88%) contrast(88%)}:root.red{--clr-main: #c9171e;--clr-sub: #ffebeb;--clr-grdf: #d55630;--clr-grdt: #c9171e;--clr-sel: #ff6600;--fil-grey: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(91%) contrast(84%);--fil-main: brightness(0) saturate(100%) invert(12%) sepia(85%) saturate(4451%) hue-rotate(350deg) brightness(105%) contrast(95%)}:root.orange{--clr-main: #ef8839;--clr-sub: #fff9f0;--clr-grdf: #ffb983;--clr-grdt: #ef8839;--clr-sel: #ff6600;--fil-grey: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(91%) contrast(84%);--fil-main: brightness(0) saturate(100%) invert(77%) sepia(44%) saturate(6238%) hue-rotate(339deg) brightness(106%) contrast(87%)}
.mobile-comment-item{background-color:#fff;padding:12px 16px}.mobile-comment-item .comment .comment-user{display:flex;align-items:center;font-size:16px;font-weight:bold;color:#000;margin-bottom:10px}.mobile-comment-item .comment .comment-user .user-img{width:28px;height:28px;margin-right:12px}.mobile-comment-item .comment .comment-radio{display:flex;align-items:center;font-size:15px;color:#000;padding-bottom:10px;border-bottom:1px solid #e8eaf0;margin-bottom:10px}.mobile-comment-item .comment .comment-radio .adm-radio{margin-left:16px}.mobile-comment-item .comment .comment-radio .adm-radio-content{font-size:15px}.mobile-comment-item .comment .comment-describe{font-size:16px;color:#000}.mobile-comment-item .comment .comment-describe .adm-text-area{margin-top:10px;font-size:15px}.mobile-comment-item .comment .comment-describe .details{margin-top:10px;font-size:15px;line-height:1.3}.mobile-comment-item .comment .comment-grade{display:flex;align-items:center;justify-content:space-between;font-size:15px;color:#000;padding-bottom:10px;border-bottom:1px solid #e8eaf0;margin-bottom:10px}.mobile-comment-item .comment .comment-grade .font-color{color:#999}.mobile-comment-item .comment .comment-grade .grade{display:flex;align-items:center}.mobile-comment-item .comment .comment-grade .grade .grade-icon{margin-left:12px;margin-right:8px;width:18px;height:18px}
.mobile-enshrine-item{width:100%;background-color:#fff}.mobile-enshrine-item .enshrine-time{padding:8px 16px;color:#999;font-size:12px;font-size:var(--desc-default-size, 12px);border-bottom:1px solid #e8eaf0}.mobile-enshrine-item .item{padding:16px;margin-bottom:10px;display:flex}.mobile-enshrine-item .image{height:64px}.mobile-enshrine-item .item-img{width:88px;height:64px;border-radius:3px;margin-right:12px;object-fit:cover}.mobile-enshrine-item .content{width:100%;display:flex;flex-direction:column;justify-content:space-between}.mobile-enshrine-item .content-title{-webkit-line-clamp:2;display:-webkit-box;/*! autoprefixer: off */-webkit-box-orient:vertical;/*! autoprefixer: on */overflow:hidden;text-overflow:ellipsis;font-size:15px;font-size:var(--content-default-size, 15px);color:#000;margin-bottom:5px;word-break:break-all}.mobile-enshrine-item .content-note{display:flex;justify-content:space-between;font-size:12px;font-size:var(--desc-default-size, 12px);color:#999;margin:0}.mobile-enshrine-item .show{display:none}.mobile-enshrine-item p{margin:0}.mobile-enshrine-item .shade{position:relative;width:100%;height:73px;top:-73px}
.mobile-grade-item{background-color:#fff}.mobile-grade-item .item-wrap{padding:16px}.mobile-grade-item .item-wrap-footer{display:flex;justify-content:space-between;font-size:12px;color:#999;align-items:center}.mobile-grade-item .item-wrap-footer .task-title{width:100%;display:flex;font-size:16px;align-items:center}.mobile-grade-item .item-wrap-footer .image{width:32px;height:32px}.mobile-grade-item .item-wrap-footer .title-img{width:32px;height:32px;background-color:#edf6fe;border-radius:50%}.mobile-grade-item .item-wrap-footer .text-color{border:none;padding:0 8px;padding-top:1px;height:20px;color:#ef8839;margin-left:8px}.mobile-grade-item .item-wrap-footer .item-title{flex:1 1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;align-items:center;width:100%;font-size:16px;color:#000;margin-left:0}.mobile-grade-item .item-wrap-footer .state{font-size:12px}.mobile-grade-item .subheads{color:#999;margin:10px 0;font-size:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-grade-item .topsol-id{padding-top:10px;border-top:1px solid #e8eaf0}.mobile-grade-item .show{display:none}.mobile-grade-item p,.mobile-grade-item ul,.mobile-grade-item li{margin:0;padding:0}.mobile-grade-item .adm-badge-dot{margin-right:4px !important;margin-top:6px !important;min-width:1px !important;width:5px !important;height:5px !important;border-radius:5px !important}.mobile-grade-item .adm-rate{--star-size: 20px}
.mobile-app-message-item{background-color:#fff;padding:16px;display:flex}.mobile-app-message-item .message-icon{width:44px;height:44px;border-radius:2px;object-fit:cover}.mobile-app-message-item .icon-shell{padding:12px;background-color:#edf6fe;border-radius:2px}.mobile-app-message-item .icon-shell .dl-icon{width:20px;height:20px;display:block}.mobile-app-message-item .message{width:100%;display:flex;flex-direction:column;justify-content:space-between;margin-left:12px;font-size:12px;font-size:var(--desc-default-size, 12px);color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-app-message-item .message p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-app-message-item .message .title-time{width:100%;display:flex;justify-content:space-between}.mobile-app-message-item .message .title-time .title{font-size:15px;font-size:var(--content-default-size, 15px);color:#000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-right:4px}.mobile-app-message-item .show{display:none !important}.mobile-app-message-item p{margin:0}
.mobile-news-item{padding:16px 16px 0 16px;background-color:#fff}.mobile-news-item .news-item{padding-bottom:16px;border-bottom:1px solid #e8eaf0;display:flex;align-items:center}.mobile-news-item .news-item .image{width:44px;height:44px;border-radius:22px;margin-right:12px;object-fit:cover}.mobile-news-item .news-item .news-user{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-news-item .news-item .news-user .title{display:flex;justify-content:space-between;font-size:15px;font-size:var(--content-default-size, 15px);color:#000;margin-bottom:6px}.mobile-news-item .news-item .news-user .title>span:first-child{flex:1 1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-news-item .news-item .news-user .title .time{margin-left:12px;color:#999;font-size:12px;font-size:var(--desc-default-size, 12px)}.mobile-news-item .news-item .news-data{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;font-size:var(--content-second-size, 14px);color:#666}.mobile-news-item .show{display:none !important}
.ssm-phone-item{display:flex;background:#fff}.ssm-phone-item+.ssm-phone-item{margin-top:12px;border-top:1px solid #e8eaf0;padding-top:12px}.ssm-phone-item>img{min-width:64px;width:64px;height:64px;margin-right:12px;overflow:hidden}.ssm-phone-item>.m-info{display:flex;flex-direction:column;justify-content:space-between;flex:1 1;overflow:hidden;color:#000;box-sizing:border-box;font-size:15px;font-size:var(--content-default-size, 15px)}.ssm-phone-item>.m-info>label{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:break-all;font-weight:bold}.ssm-phone-item>.m-info>span{color:#999;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:12px;font-size:var(--desc-default-size, 12px);margin-top:10px}.ssm-phone-item>.m-rt{width:40px;display:flex;justify-content:flex-end;align-items:center}.ssm-phone-item>.m-rt>a{width:100%;text-align:right}.ssm-phone-item>.m-rt>a>img{width:16px;height:16px}
.mobile-reader-item{background-color:#fff;padding:12px 16px}.mobile-reader-item .title{display:flex;align-items:center;justify-content:space-between;font-size:12px;font-size:var(--desc-default-size, 12px);color:#999;margin-bottom:8px}.mobile-reader-item .title .title-name{font-size:15px;font-size:var(--content-default-size, 15px);color:#000}.mobile-reader-item .dept-names{margin-bottom:4px}.mobile-reader-item .department{font-size:12px;font-size:var(--desc-default-size, 12px);color:#000;position:relative}.mobile-reader-item .department .popover{top:0;height:18px;width:100%;position:absolute}.mobile-reader-item .dept-names:last-child{margin-bottom:0}.adm-popover .adm-popover-inner-content{font-size:14px;font-size:var(--content-second-size, 14px)}
.mobile-state-item{background-color:#fff}.mobile-state-item .item-wrap{padding:16px}.mobile-state-item .item-wrap-footer{display:flex;justify-content:space-between;font-size:12px;font-size:var(--desc-default-size, 12px);color:#999;align-items:center;margin-bottom:12px}.mobile-state-item .item-wrap-footer .task-title{width:100%;display:flex;font-size:16px;align-items:center}.mobile-state-item .item-wrap-footer .image{width:32px;height:32px;margin-right:12px}.mobile-state-item .item-wrap-footer .title-data{margin-right:8px}.mobile-state-item .item-wrap-footer .title-img{width:32px;height:32px;background-color:#f5faff;border-radius:50%;object-fit:cover}.mobile-state-item .item-wrap-footer .text-color{border:none;font-size:12px;font-size:var(--desc-default-size, 12px);line-height:normal;line-height:initial}.mobile-state-item .item-wrap-footer .item-title{flex:1 1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;align-items:center;width:100%;font-size:15px;font-size:var(--content-default-size, 15px);color:#000}.mobile-state-item .item-wrap-footer .item-title-state{margin-right:20px}.mobile-state-item .item-wrap-footer .state{font-size:12px;font-size:var(--desc-default-size, 12px)}.mobile-state-item .subheads{color:#999;margin:0;font-size:12px;font-size:var(--desc-default-size, 12px);overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-state-item .subheads .subjoin-data{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-bottom:4px}.mobile-state-item .subheads .subjoin-data:last-child{margin-bottom:0}.mobile-state-item .topsol-id{margin-top:12px;padding-top:14px;margin-bottom:0;border-top:1px solid #e8eaf0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-state-item .topsol-id>span:nth-child(1){flex:1 1;margin-right:16px}.mobile-state-item .topsol-id>span:nth-child(2){overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-state-item .show{display:none}.mobile-state-item p,.mobile-state-item ul,.mobile-state-item li{margin:0;padding:0}.mobile-state-item .adm-badge-dot{margin-right:4px !important;margin-top:6px !important;min-width:1px !important;width:8px !important;height:8px !important;border-radius:4px !important}
.mobile-videotex-item{background-color:#fff;padding:16px}.mobile-videotex-item .use-info{display:flex;align-items:center;margin-bottom:12px}.mobile-videotex-item .use-info .chat-head{width:28px;height:28px;border-radius:14px;margin-right:12px;object-fit:cover;background:#f5faff}.mobile-videotex-item .use-info .nickname{font-size:15px;font-size:var(--content-default-size, 15px);font-weight:bold;color:#000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.mobile-videotex-item .videotex-item{display:flex}.mobile-videotex-item .videotex-item .image{height:64px;position:relative}.mobile-videotex-item .videotex-item .item-img{width:88px;height:64px;border-radius:3px;margin-right:12px;background:#f5faff;object-fit:cover}.mobile-videotex-item .videotex-item .content{width:100%;display:flex;flex-direction:column;justify-content:space-between}.mobile-videotex-item .videotex-item .content-title{-webkit-line-clamp:2;display:-webkit-box;/*! autoprefixer: off */-webkit-box-orient:vertical;/*! autoprefixer: on */overflow:hidden;text-overflow:ellipsis;font-weight:var(--font-weight);font-size:15px;font-size:var(--content-default-size, 15px);color:#000;margin-bottom:5px;word-break:break-all}.mobile-videotex-item .videotex-item .content-note{display:flex;justify-content:space-between;font-size:12px;font-size:var(--desc-default-size, 12px);color:#999;margin:0}.mobile-videotex-item .show{display:none}.mobile-videotex-item p{margin:0}.mobile-videotex-item .shade{position:absolute;width:100%;height:100%;bottom:0}
.gradient-green{background:linear-gradient(to right, #8be2d6, #0ec5c7)}.gradient-orange{background:linear-gradient(to right, #ffc78f, #ff9e5d)}.gradient-red{background:linear-gradient(to right, #f7bfa7, #fe9595)}.gradient-blue{background:linear-gradient(to right, #9bbeff, #508cff)}.gradient-purple{background:linear-gradient(to right, #d9b9fd, #d592f7)}.gradient-cyan{background:linear-gradient(to right, #a9eaba, #80ceaa)}.solid-colour{color:#000;background:linear-gradient(to right, #f0f8ff, #f0f8ff)}.g-mb-16{margin-bottom:16px !important}.g-wb_tl{display:flex;justify-content:space-between;align-items:center;margin-bottom:12px}.g-wb_tl>label{flex:1 1;padding:0 10px;color:#000;font-size:16px;font-size:var(--title-default-size, 16px);position:relative;font-weight:bold;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;min-width:0}.g-wb_tl>label:before{content:"";position:absolute;left:0;display:block;width:4px;height:100%;background-color:var(--clr-main);border-radius:4px;margin-right:6px}.g-wb_tl img{width:12px;height:12px}.g-wb_tl i{display:flex;font-size:12px;font-size:var(--desc-default-size, 12px);font-style:normal;align-items:center;height:16px;color:#999}.highcharts-credits{display:none}
.ssm-wb-news{background-color:#fff;padding:16px}.ssm-wb-news .m-bd{display:flex;flex-direction:column;overflow:hidden}.ssm-wb-news .m-bd>.m-img{width:100%;height:44.8430493274vw !important;border-radius:4px;overflow:hidden}.ssm-wb-news .m-bd>.m-img.np{margin:0 -16px;width:calc(100% + 32px) !important;border-radius:0 !important}.ssm-wb-news .m-bd>.m-img.no-margin{margin-bottom:-36px}.ssm-wb-news .m-bd>p{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;margin:12px 0 0 0;font-weight:initial;font-weight:var(--font-weight, initial);font-size:15px;font-size:var(--content-default-size, 15px);color:#000}.sp-margin{padding:0}.sp-margin .g-wb_tl{padding:16px 16px 0 16px}.sp-margin .m-bd>p{padding:0 16px;margin-bottom:16px}
.ssm-default-pages{width:100%;height:100%;text-align:center;display:flex;flex-direction:column;justify-content:center;align-items:center;background-color:#f7f9fd;font-size:12px;font-size:var(--desc-default-size, 12px);color:#999}.ssm-default-pages>div:first-child{width:128px;height:128px}
.ssm-wb-qcard{background-color:#fff;padding:16px}.ssm-wb-qcard+.ssm-wb-qcard{margin-top:12px}.ssm-wb-qcard.ht+.ssm-wb-qcard.nt{margin-top:-20px;margin-bottom:10px}.ssm-wb-qcard .m-list{display:flex;flex-wrap:wrap;width:100%;background-color:#fff;justify-content:space-between;margin-bottom:-12px}.ssm-wb-qcard .m-list>.m-item{display:flex;justify-content:space-between;width:calc((100% - 12px)/2);max-height:calc(33.33333% - 4px);border-radius:8px;margin-bottom:12px;padding:12px;box-sizing:border-box;color:#fff}.ssm-wb-qcard .m-list>.m-item.sg{width:100% !important}.ssm-wb-qcard .m-list>.m-item>.m-cnt{flex:1 1;display:flex;flex-direction:column;justify-content:space-between;padding:6px 0;overflow:hidden;margin-right:4px}.ssm-wb-qcard .m-list>.m-item>.m-cnt>label{font-size:14px;font-size:var(--content-second-size, 14px);font-weight:bold;overflow:hidden;margin-bottom:5px;text-overflow:ellipsis}.ssm-wb-qcard .m-list>.m-item>.m-cnt>.span{font-size:12px;font-size:var(--desc-default-size, 12px);overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.ssm-wb-qcard .m-list>.m-item>.m-img{width:56px;height:56px;border-radius:4px}
.ssm-wb-qicon{background-color:#fff;padding:16px;padding-bottom:0}.ssm-wb-qicon>.m-list{width:100%;background-color:#fff;display:flex;flex-wrap:wrap}.ssm-wb-qicon>.m-list>.m-item{display:flex;align-items:center;flex-direction:column;width:25%;width:var(--flex-item-width, 25%);text-align:center}.ssm-wb-qicon>.m-list>.m-item>.m-img{width:40px;width:var(--flex-item-image, 40px);height:40px;height:var(--flex-item-image, 40px);border-radius:50%}.ssm-wb-qicon>.m-list>.m-item>label{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;color:#333;font-size:15px;font-size:var(--content-default-size, 15px);font-weight:var(--font-weight);margin-top:8px;margin-bottom:16px;overflow:hidden;word-break:break-all}
.mobile-icon-matrix{padding:16px;display:flex;flex-wrap:wrap;justify-content:space-between;margin-left:-10px}.mobile-icon-matrix .icon-item{width:calc((100% - 30px)/3);text-align:center;margin-bottom:20px;margin-left:10px;font-weight:initial;font-weight:var(--font-weight, initial);font-size:14px;font-size:var(--content-second-size, 14px);color:#333;display:flex;flex-direction:column;align-items:center;overflow:hidden;word-break:break-all}.mobile-icon-matrix .icon-item .icon-img{width:60px;height:60px;border-radius:30px;margin-bottom:6px}.mobile-icon-matrix .icon-item .icon-app-title{-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;word-break:break-all}.icon-matrix-default{height:100%}.icon-matrix-default .mobile-default-pages{position:relative}.mobile-icon-matrix::after{content:"";flex:auto}
.ssm-wb-list{background-color:#fff;padding:16px}.ssm-wb-list .m-list .m-item{display:flex}.ssm-wb-list .m-list .m-item+.m-item{margin-top:12px;border-top:1px solid #e8eaf0;padding-top:12px}.ssm-wb-list .m-list .m-item>.m-img{width:90px;height:70px;margin-right:12px;border-radius:3px;overflow:hidden}.ssm-wb-list .m-list .m-item>.img{width:70px;height:70px;margin-right:12px;border-radius:3px;overflow:hidden}.ssm-wb-list .m-list .m-item>.m-cnt{flex:1 1;display:flex;flex-direction:column;justify-content:space-between}.ssm-wb-list .m-list .m-item>.m-cnt>label{-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;font-weight:bold;font-size:15px;font-size:var(--content-default-size, 15px);color:#000;word-break:break-all;text-align:justify}.ssm-wb-list .m-list .m-item>.m-cnt>.m-note{display:flex;flex-wrap:wrap;justify-content:space-between;font-size:12px;font-size:var(--desc-default-size, 12px);margin:0;margin-top:10px;color:#999}.ssm-wb-list .m-list .m-item .phone{width:53px;height:53px;position:relative}.ssm-wb-list .m-list .m-item .phone a{display:inline-block;width:100%;height:100%;display:flex;align-items:center;justify-content:center}.ssm-wb-list .m-list .m-item .phone a img{width:16px;height:16px}
.ssm-wb-msg{background-color:#fff;padding:16px}.ssm-wb-msg .m-bd{display:flex;justify-content:space-evenly}.ssm-wb-msg .m-bd .m-item{flex:1 1;display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;font-size:14px;font-size:var(--content-second-size, 14px);color:#666}.ssm-wb-msg .m-bd .m-item>label{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:break-all;font-weight:var(--font-weight);color:#333}.ssm-wb-msg .m-bd .m-item>span{margin-top:8px;font-weight:bold;color:#ff1515;font-size:19px;font-size:var(--message-size, 19px)}

/*# sourceMappingURL=main.279d1827.css.map*/